.header {
  display: flex;
  justify-content: flex-end;
}

.hidden {
  opacity: 0;
}

.hidden:hover {
  opacity: 1;
}

.feedback-image {
  width: 100vw;
  height: 100vh;
}

.body {
  text-align: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.mole-input {
  font-size: 45pt;
  background-color: #282c34;
  color: white;
}

.container {
  background-color: #282c34;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
